<nav class="navbar">
  <div class="container">
    <div class="nav-center">
      <!-- logo -->
      <a href="/">
        <img src="/assets/images/logo.png" alt="brotecs" class="logo"
      /></a>
      <div class="menus">
        <!-- search icon -->

        <!-- menu -->
        <button
          id="menu_open_btn"
          class="menu_btn group hover:text-primaryOrange"
        >
          Menu
          <span class="menu_btn_line group-hover:bg-primaryOrange"></span>
        </button>
      </div>
    </div>
  </div>
  <div id="nav-menu" class="nav-menu">
    <div
      class="menu-wrapper h-full relative w-full before:absolute before:inset-0 before:bg-[url('/assets/images/backgrounds/section_bg.png')] before:bg-no-repeat before:bg-cover"
    >
      <div class="container py-7 xl:py-11">
        <!-- Menu Header -->
        <div class="nav-center">
          <!-- logo -->
          <a href="/">
            <img src="/assets/images/logo.png" alt="brotecs" class="logo"
          /></a>
          <div class="menus">
            <!-- search icon -->

            <!-- menu -->
            <button
              id="menu_close_btn"
              class="menu_btn group hover:text-primaryOrange"
            >
              Close
              <span class="menu_btn_line group-hover:bg-primaryOrange"></span>
            </button>
          </div>
        </div>
        <!-- Menu Links -->
        <div class="my-menu">
          <ul class="top-level">
            <li>
              Product & Solutions
              <ul class="second-level">
                <li class="link">
                  <a href="">Im a link</a>
                </li>
                <!-- dropdown item -->
                <li class="dropdown-item">
                  Nested dropdown
                  <ul>
                    <li class="link">
                      <a href="">Im a link</a>
                    </li>
                    <li>
                      <a href="">Im a d</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown item ends -->
                <!-- dropdown item -->
                <li class="dropdown-item">
                  Nested dropdown
                  <ul>
                    <li class="link">
                      <a href="">Im a link</a>
                    </li>
                    <li>
                      <a href="">Im a d</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown item ends -->
              </ul>
            </li>
            <li class="link">
              Services
              <ul class="second-level">
                <li class="link">
                  <a href="">Im a link</a>
                </li>
                <!-- dropdown item -->
                <li class="dropdown-item">
                  Nested dropdown
                  <ul>
                    <li class="link">
                      <a href="">Im a link</a>
                    </li>
                    <li>
                      <a href="">Im a d</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown item ends -->
                <!-- dropdown item -->
                <li class="dropdown-item">
                  Digital Services
                  <ul>
                    <li class="link">
                      <a href="">UI UX Design</a>
                    </li>
                    <li>
                      <a href="">Software Development</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown item ends -->
              </ul>
            </li>
            <li class="link">About</li>
            <li class="link">Career</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
