/*********************************/
/*         Navbar                  */
/*===============================*/

.navbar {
  @apply absolute top-0 left-0 right-0 z-50 text-white py-7 xl:py-11 font-jost;
  .nav-center {
    @apply flex items-center justify-between;
    .logo {
      @apply w-[7rem] lg:w-[8rem]  xl:w-auto;
    }
    .menus {
      @apply flex items-center space-x-4;
      .menu_btn {
        @apply lg:text-[1.5rem] font-jost flex items-center space-x-4 transition-all duration-300;
        .menu_btn_line {
          @apply w-5 xl:w-8 h-[1px] bg-white inline-block ml-4 transition-all duration-300;
        }
      }
    }
  }
}

.nav-menu {
  @apply fixed top-0 left-0  bg-darkGray transition-all duration-300 w-full  h-0 z-10 overflow-hidden;
}
.nav-menu.active {
  @apply h-full overflow-x-auto;
}

.my-menu {
  margin-top: 100px;
  // holder and ul general style
  box-sizing: border-box;
  width: 100%;
  ul {
    @apply marker:text-primaryOrange list-inside list-disc;
  }
  ul.top-level {
    @apply list-none p-0 m-0 flex justify-between w-full bg-transparent flex-wrap flex-col md:flex-row;
    > ul {
      @apply py-4 min-w-[280px];
    }
    & > li {
      @apply text-[2rem];
    }
  }
  ul.second-level {
    @apply relative mt-8  list-disc;
    & > li {
      @apply rounded-l-md cursor-pointer text-xl;
      &:hover {
        @apply bg-[#3B3B3B] transition-all duration-300;
      }
    }
    li {
      @apply px-4 py-2 whitespace-nowrap;
      > ul {
        @apply bg-[#3B3B3B]  lg:absolute top-0 left-full  opacity-0 h-0 lg:h-full  transition-all duration-300 min-w-0 w-0 -z-50 overflow-visible rounded-md;
      }
      // &:hover > ul {
      //   @apply opacity-100  min-w-[200px] z-1;
      // }

      &.active-menu {
        @apply bg-[#3B3B3B];
        & > ul {
          @apply opacity-100  min-w-[200px] z-1 h-full;
        }
      }
    }
  }
}

.show-menu-list {
  @apply opacity-100  min-w-[200px] z-1;
}

// Custom Scrollbar
.nav-menu::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
.nav-menu::-webkit-scrollbar-track {
  @apply bg-darkGray /* color of the tracking area */;
}
.nav-menu::-webkit-scrollbar-thumb {
  @apply bg-[#383838]; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  @apply border border-lightGray /* creates padding around scroll thumb */;
}
