/* // _general.scss */
// import fonts
@font-face {
  font-family: "Gilroy-Regular";
  src: url("/assets/fonts/gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("/assets/fonts/gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("/assets/fonts/gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("/assets/fonts/gilroy/Gilroy-Semibold.ttf");
}
/*********************************/
/*             General            */
/*===============================*/

body {
  @apply font-poppins text-base lg:text-lg xl:text-xl bg-darkGray;
}
p {
  @apply text-primaryText leading-8;
}
section {
  overflow: hidden;
}
p {
  @apply leading-relaxed;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply leading-normal text-white;
}

::selection {
  @apply bg-primaryOrange/90 text-white;
}
section {
  @apply py-10 xl:py-16;
}
.section-title {
  @apply text-3xl leading-[2.62rem] lg:text-4xl   xl:text-[2.5rem]   mb-4 xl:mb-[1.3rem] font-gilroyBold font-bold;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 8px;
  left: 100%;
  transform: translate(-109%, 40px);
}
.swiper-scrollbar-drag {
  // background: none;
  @apply bg-primaryOrange;
}
.section-wrapper {
  @apply bg-darkGray  relative before:-z-1 after:-z-1 bg-transparent w-full before:absolute before:inset-0 before:bg-[url('/assets/images/backgrounds/section_bg.png')]  before:bg-no-repeat before:bg-left-top before:blur-xl  after:absolute after:inset-0 after:bg-[url('/assets/images/backgrounds/section_bg.png')]  after:bg-no-repeat after:bg-right-bottom after:blur-xl after:opacity-70 before:opacity-70;
}
// .swiper-scrollbar-drag:after {
//   content: "";
//   width: auto;
//   height: auto;
//   border-radius: 2px;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   margin: 0 0 0 -20px;
//   @apply bg-primaryOrange;
// }
// custom scrollbar
body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  @apply bg-darkGray /* color of the tracking area */;
}
body::-webkit-scrollbar-thumb {
  @apply bg-[#383838]; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  @apply border border-lightGray /* creates padding around scroll thumb */;
}

// body.hide-scroll::-webkit-scrollbar {
//   width: 6px; /* width of the entire scrollbar */
// }
// body.hide-scroll::-webkit-scrollbar-track {
//   @apply bg-transparent transition-all duration-300 /* color of the tracking area */;
// }
// body.hide-scroll::-webkit-scrollbar-thumb {
//   @apply bg-transparent transition-all duration-300; /* color of the scroll thumb */
//   border-radius: 20px; /* roundness of the scroll thumb */
//   @apply border border-transparent transition-all duration-300 /* creates padding around scroll thumb */;
// }
.hide-scroll {
  @apply overflow-hidden;
}
